
#row3{

    background: rgb(0, 0, 0);

    color: white;

}
#row4{

    float:right;
    padding-right: 10px;
    
}
#create-profile{

    
    padding-top: 5px;
    background-color: rgb(201, 201, 201);
    padding-bottom:5px ;
    
}
#createbtn{

    width: 100px;
}

.popup{
    position:fixed;
    top:0px;
    left:0px;
    background:rgb(163, 163, 163);
    width:100%;
    height:100%;
    display:none;
  }

  .popup-content {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px;
    margin-top: 75px;
    box-shadow: 0px 2px 6px rgba(0,0,0,1);
    border-radius: 3px;
    background: rgb(255, 255, 255);
    position: relative;
    overflow-x: scroll;
    max-height: 700px;

  }
  
  /* Popup close button */
  .close-button {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration:none;
  }
  













  @media screen and (max-width: 720px) {
    .popup-content {
        width:90%;
        } 
    }
    
