#main-topic{

    background-color: rgb(127, 192, 147);
    text-align: center;
    position: static;
}
#backlink{

    text-decoration: none;
    color: black;
    width: 20%;
    margin-left: 10px;
    padding: 5px 3px;
    border-radius: 15px;
    border: 2px solid black;
    
}
#backlink:hover{

    color: white;
    background:black;
}
#summary{

    border: 2px solid black;
    padding-top: 3px;
    border-radius: 10px;
    display: block;
    text-align: center;
    margin-left: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}