#header{

    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    color: white;
}
#print-box-row{
    margin-top: 20px;
    background-color: white;
    justify-content: center;
}
#print-box{

    background-color: rgb(255, 255, 255);
    width: 700px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.8) 0px 3px 6px;
}
#print-box2{

    background-color: rgb(255, 255, 255);
    width: 700px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.8) 0px 3px 6px;
    

}
#info-table , tr , td{

    border: none;
    outline: none;

}
#topic{

    width: 140px;
}
#printbtn{

    width: 100px;
}

#cancelbtn{

    width: 100px;
    margin-left: 10px;
}
