#header{

    background-color: rgb(44, 165, 44);
    border-radius: 20px;
}
#print-box-row{
    margin-top: 20px;
    background-color: white;
    justify-content: center;
}
#print-box{

    background-color: rgb(255, 255, 255);
    width: 700px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
#info-table , tr , td{

    border: none;
    outline: none;

}
#topic{

    width: 140px;
}