$maincolor: yellowgreen;

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 30px;
  }
  
  .sidenav a {
     padding-left: 20px  ;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f70606;
  }
  #menu-row{

    background-color: #ffffff;
    transition: 0.3s;
   }
   #menu-row:hover{
  
    background-color: rgb(198, 252, 220);
   }
    
   #menu-col1{
  
    padding-left: 10px;
    width: 10%;
   }
   #menu-col2{
     width: 90%;
   }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #row1{

    padding-top: 10px;
    background-color: rgb(43, 121, 27);
    padding-left: 5px;
    padding-right: 10px;
  }
  #col2{

    text-align: right;
  }
 .sidenav i{

    color: rgb(0, 170, 28);
    text-align: center;
    font-size: 30px;
 }
 .sidenav #logo{

    text-align: center;
    padding-bottom: 15px;
 }
#row2{

    margin-top: 10px;
    display: -moz-inline-grid;
    grid-auto-rows: 150px;
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;

}

#row2 a{

    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    width: 250px;
    height: 200px;
    text-align: center;
    transition: ease-in-out 0.7;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#row2 a:hover{
    background-color: $maincolor ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#row3  {

    text-align: center;
    margin-top: 0px;
    background-color: rgb(0, 0, 0) ;
    color: rgb(202, 198, 198);
    padding-top: 60px;
    border-radius: 25px;
   
    

    
}

#row-price{

    margin-top: 20px;
    justify-content: center;


}
#price-board{

    width: 900px;
    background: rgb(0, 0, 0);
    color: white;
}

#price-board tr,th{

    text-align: center;
    transition: ease-in-out 0.2s;
}
#price-board tr:hover{

    background: rgb(83, 81, 81);
    color: yellow;
}
#topic-table{

    text-align: left;
}
#price-board tr,td{

    border: none;
    outline: none;
}
#row4{

    color: rgb(255, 0, 0);
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
    background: rgb(240, 179, 179);
    border-radius: 20px;
}
#row5{

    padding-top: 20px;
    justify-content: center;
    grid-gap: 30px;
    
}
#row5 #row5-col2 h3{

    margin-left: 10px;
    text-align: center;
}
#form-table td th{

    border: none;


}
#form-table td{

    border: none;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}
#delete{

    background: rgb(252, 82, 82);
    padding: 3px 15px;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    text-decoration: none;

}
#timedate{
    color: #001aff;
}

#confirm-btn{

    background-color: rgb(35, 155, 35);
    padding: 5px 10px;
    color: rgb(236, 236, 236);
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 7px;
    width: 100px;
}
#clear-btn{

    background-color: red;
    margin-left: 7px;
    padding: 5px 10px;
    color: rgb(236, 236, 236);
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100px;
}
#cost-btn{

    background-color: rgba(137, 145, 73, 0.966);
    padding: 5px 10px;
    color: rgb(236, 236, 236);
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;


}
#cost-btn:focus{
    background-color: rgba(176, 182, 134, 0.966);
}
#clear-btn:focus{
    background-color: rgb(230, 130, 130);
}
#confirm-btn:focus{
background-color:rgb(115, 194, 115);
}

#count{

    line-height: 15px;
}
#count td{

    padding: 0px;
}



table{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#total-cost{

    color: red;

    
}
#ad-cost , #chi-cost , #meal-cost , #total-cost{

    outline: none;
    background-color: rgb(255, 255, 255);
    border: none;
}
#form-menu{

    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// Search section

#bill-search-button{

    padding: 3px 25px;
    background-color: rgb(105, 105, 243);
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
}
#details-btn{

    padding: 3px 15px;
    background-color: rgb(228, 135, 236);
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    
}
#search-bar{

    text-align: right;
}
#searchbox{

    width: 100%;
}
#tbody{

    overflow: hidden;
}



 
@media screen and (max-height: 750px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  