.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 30px;
}

.sidenav a {
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #f70606;
}

#menu-row {
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#menu-row:hover {
  background-color: #c6fcdc;
}

#menu-col1 {
  padding-left: 10px;
  width: 10%;
}

#menu-col2 {
  width: 90%;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#row1 {
  padding-top: 10px;
  background-color: yellowgreen;
  padding-left: 5px;
  padding-right: 10px;
}

#col2 {
  text-align: right;
}

.sidenav i {
  color: #00aa1c;
  text-align: center;
  font-size: 30px;
}

.sidenav #logo {
  text-align: center;
  padding-bottom: 15px;
}

#row2 {
  margin-top: 10px;
  display: -moz-inline-grid;
  grid-auto-rows: 150px;
  grid-gap: 10px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#row2 a {
  background-color: #ececec;
  border-radius: 20px;
  width: 250px;
  height: 200px;
  text-align: center;
  -webkit-transition: ease-in-out 0.7;
  transition: ease-in-out 0.7;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#row2 a:hover {
  background-color: yellowgreen;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#row3 {
  text-align: center;
  margin-top: 0px;
  background-color: black;
  color: #cac6c6;
  padding-top: 60px;
  border-radius: 25px;
}

#row4 {
  color: red;
  padding-top: 10px;
  margin-top: 20px;
}

#row5 {
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 30px;
}

#row5 #row5-col2 h3 {
  margin-left: 10px;
  text-align: center;
}

#form-menu {
  width: 800px;
}

#form-table td th {
  border: none;
}

#form-table td {
  border: none;
}

#bill-form-td {
  width: 200px;
}

#confirm-btn {
  background-color: #239b23;
  padding: 5px 10px;
  color: #ececec;
  outline: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 7px;
}

#clear-btn {
  background-color: red;
  margin-left: 7px;
  padding: 5px 10px;
  color: #ececec;
  outline: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

#cost-btn {
  background-color: rgba(137, 145, 73, 0.966);
  padding: 5px 10px;
  color: #ececec;
  outline: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

#cost-btn:focus {
  background-color: rgba(176, 182, 134, 0.966);
}

#clear-btn:focus {
  background-color: #e68282;
}

#confirm-btn:focus {
  background-color: #73c273;
}

table {
  background-color: white;
  border-radius: 10px;
}

#total-cost {
  color: red;
}

#ad-cost, #chi-cost, #meal-cost, #total-cost {
  outline: none;
  background-color: white;
  border: none;
}

#form-menu {
  padding: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 600px;
}

#bill-search-button {
  padding: 3px 25px;
  background-color: #6969f3;
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
}

#details-btn {
  padding: 3px 15px;
  background-color: #e487ec;
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
  text-decoration: none;
}

#search-bar {
  text-align: right;
}

#searchbox {
  width: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=billing.css.map */