#profilepic{

    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    margin-top: 18px;
    
}
#row-1{

    background-color: cadetblue;
    padding: 5px 5px;
    border-radius: 10px;
}
#profile-data-row{

    background-color:white;
    padding: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}