
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 30px;
  }
  
  .sidenav a {
    padding-left: 20px  ;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
   
  }
  
  .sidenav a:hover {
    color: #f70606;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #row1{

    padding-top: 10px;
    background-color: rgb(43, 121, 27);
    padding-left: 5px;
    padding-right: 10px;
  }
  #col2{

    text-align: right;
  }
 .sidenav i{

    color: rgb(0, 170, 28);
    text-align: center;
    font-size: 30px;
 }
 .sidenav #logo{

    text-align: center;
    padding-bottom: 15px;
 }
 #menu-row{

  background-color: #ffffff;
  transition: 0.3s;
 }
 #menu-row:hover{

  background-color: rgb(198, 252, 220);
 }
  
 #menu-col1{

  padding-left: 10px;
  width: 10%;
 }
 #menu-col2{
   width: 90%;
 }


//  finish top


#row2{

  margin-top: 70px;
  padding: 10px 10px;
  background: rgb(0, 0, 0);
  color: #ffffff;
  box-shadow:rgba(14, 30, 37, 0.20) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#row-col2{

  text-align: right;
}
.time{

  color: rgb(196, 94, 255);
  
  
}

#icon a{

  text-decoration: none;
  margin-left: 10px;
  padding: 3px 7px;
  border-radius: 15px;
  color: #ffffff;
  transition: ease-in-out 0.7;
  background: #525252;
}

#iconmail:hover{

  background: red;
  padding: 3px 25px;


}
#iconfb:hover{
  background: rgb(44, 136, 221);
  padding: 3px 25px;
}
#booking-data{

  background: rgb(97, 205, 255);
  padding-bottom: 10px;
 
}
#billing-data{

  background: rgb(253, 194, 83);




}
#row3{
  grid-gap: 5px;
  padding-left: 5px;
  padding-right:5px ;
}
#blink{
  animation: blinker 1s linear infinite;
  color: #50fc00;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#blink-table{
  animation: blinker 1s linear infinite;
  color: #4685fa;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#booking-data-table{

  border: none;
  outline: none;
  background: #000000;
  color: white;
 
}
#booking-table{
  max-height: 10em;
}

#data-table-row{
  padding: 5px 5px;
}


// booking........
#booking-counts{

  grid-gap: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

#t-booking{

  border-style: solid;
  border-color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 2px;
  border-radius: 10px;
  
}
#lm-booking{
  
  border-style: solid;
  border-color: rgb(201, 55, 55);
  color:  rgb(201, 55, 55);
  text-align: center;
  padding-top: 2px;
  border-radius: 10px;
}
#y-booking{

  
  border-style: solid;
  border-color: rgb(13, 68, 250);
  color:  rgb(13, 68, 250);
  text-align: center;
  padding-top: 2px;
  border-radius: 10px;
}

// price table

#prices-summary{

  padding-left: 5px;
  padding-right:5px ;

}

#price-board{

  background: rgb(155, 155, 155);
  color: white;
}

#price-board tr,th{

  text-align: center;
  transition: ease-in-out 0.2s;
}
#price-board tr:hover{

  background: rgb(83, 81, 81);
  color: yellow;
}
#topic-table{

  text-align: left;
}
#price-board tr,td{

  border: none;
  outline: none;
}

// calculator...........

#calculator{

  background: #a7e4e4;
}
#topic-generator{
  background: black;
  color: #ffffff;
  border-radius: 25px;
}

#value-table{

  border: none;
  outline: none;
}

// Popup window css

.open-button{
  color:#FFF;
  background:#0066CC;
  padding:10px;
  text-decoration:none;
  border:1px solid #0157ad;
  border-radius:3px;
}

.open-button:hover{
  background:#01478e;
}

.popup {
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0);
  width:100%;
  height:100%;
  display:none;
}

/* Popup inner div */
.popup-content {
  width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px;
  margin-top: 75px;
  box-shadow: 0px 2px 6px rgba(0,0,0,1);
  border-radius: 3px;
  background: #fff;
  position: relative;
}

/* Popup close button */
.close-button {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 20px;
  background: rgba(221, 41, 41,);
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-decoration:none;
}

.close-button:hover {
  background: rgba(0,0,0,1);
}
#form-table td th{

  border: none;


}
#form-table td{

  border: none;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}
#form-table td input{

  border: none;
}









  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media screen and (max-width: 700px){

    #row-col2{

      display: none;

    }

    #checkemail{

      display: none;
    }

  }

  @media screen and (max-width: 720px) {
    .popup-content {
        width:90%;
        } 
    }
